* {
    margin: 0;
    padding: 0;
    border-radius: bo;
}

html {
    font-size: 10px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-container {
    display: flex;
    justify-content: center;
}

.instructions {
    font-size: 1.6rem;
    width: 30%;
    height: 100vh;
    background-color: rgb(205, 108, 108);
    padding-top: 5rem;
    color: #eee;
}

.instructions h2 {
    font-size: 3.5rem;
    color: orange;
    margin-bottom: 1rem;
    position: relative;
    padding-bottom: 5px;
}

.instructions h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25%;
    height: 2px;
    background-color: #eee;
}

.instructions ol {
    padding: 1rem 0 0 1.5rem;
}

.instructions ol a {
    color: orange;
    text-decoration: none;
}

.download-link {
    width: 70%;
    padding-top: 5rem;
}

.download-link section {
    border: 2px solid palevioletred;
    border-radius: 0 0 5px 5px;
}

main h1 {
    display: block;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 5rem;
    color: palevioletred;
    text-align: center;
    padding-bottom: 1rem;
}

main input[type=radio] {
    /* display: none; */
}

main nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #eee;
    padding: 5px;
    position: relative;
    background-color: rgb(224, 224, 224);
    z-index: 1;
}

main nav label {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem;
    position: relative;
    color: rgb(81, 78, 78);
    cursor: pointer;
}

main nav label i {
    padding-right: 5px;
    color: orange;
}

nav .slide {
    position: absolute;
    top: 0;
    left: 3%;
    width: 26%;
    height: 100%;
    background-color: palevioletred;
    border-radius: 3px;
    z-index: -1;
    transition: all .3s;
}

#register:checked~nav .slide {
    left: 31%;
}

#reset:checked~nav .slide {
    left: 66%;
}

#login:checked~nav label.login,
#register:checked~nav label.register,
#reset:checked~nav label.reset {
    color: #fff;
}